---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Sobre nosotros">
    <h1 class="text-4xl text-red-400">About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ducimus dolores culpa, harum rem labore cupiditate et doloribus eveniet eligendi distinctio tenetur praesentium hic quasi velit recusandae, quas voluptatibus provident iusto mollitia molestias totam. Repellendus quae fugiat corrupti, nulla eaque expedita, quam labore sed voluptate hic, recusandae eos illum doloribus delectus rem eligendi molestiae tenetur iusto. Voluptates numquam temporibus facere labore beatae necessitatibus amet ex esse incidunt fugit id, reiciendis quod? Quas ad ex deleniti architecto iste? Quibusdam iste perferendis commodi recusandae molestias illo debitis error sit ea, itaque dolorum nisi reprehenderit alias ut hic facilis consequuntur quidem inventore quasi.</p>
</Layout>